<h1>Student Information </h1>

<form action="/submit" method="get">
  <!-- Name of the person -->
  <label for="name_field"> Name: </label>
  <input type="text" id="name_field" name="name" placeholder="Eg: Chandhu.." required > 
  <br><br>

  <!-- Age-->
  <label for="age_field">Age: </label>
  <input type="number" id="age_field" name="age" placeholder="21 etc" required>
  <br><br>

  <!-- Email -->
  <label for="email_field">Email: </label>
  <input type="email" id="email_field" name="email" placeholder="abc@gmail.com" required>
  <br><br>
  
  <!-- Learning Mode -->
  <label for="learning_mode_field">Learning Mode: </label>
  <select id="learning_mode_field" name="learning_mode" required>
    <option value="">Select the Mode</option>
    <option value="in_person">In Person</option>
    <option value="remote">Remote</option>
    <option value="hybrid">Hybrid</option>
  </select>
  <br><br>

  <!-- Subscribe option -->
  <label for="subscribe_option">
    Do you Wanna subscribe to the newsletter:
    <input type="checkbox" id="subscribe_option" name="subscribe">
  </label>
  <br><br>

  <!-- Submit -->
  <button type="submit">Submit</button>



</form>
